@charset "UTF-8";
/******************************/
/*ページ設定ここから*/
/******************************/

/*全体設定*/
html {

}

/*ページ余白を削除*/
* {
    margin: 0;
    padding: 0;    
}

/*aタグの下線を削除*/
a {
    text-decoration: none;
}

/******************************/
/*ページ設定ここまで*/
/******************************/

/******************************/
/*ヘッダーここから*/
/******************************/

header {
    
}

header h1 {
    
}

/******************************/
/*ヘッダーここまで*/
/******************************/

/******************************/
/*メインここから*/
/******************************/

main {
    
}

main h1 {

}



/******************************/
/*メインここまで*/
/******************************/

/******************************/
/*フッターここから*/
/******************************/

footer {
    
}

footer h1 {

}

/******************************/
/*フッターここまで*/
/******************************/

/*******************************/
/*レスポンシブデザインここから*/
/******************************/

/*max：320px以上なら反映*/
/*min：320px以下なら反映*/
@media screen and (min-width:320px){
    header {
        color: red;
    }
}

/******************************/
/*レスポンシブデザインここまで*/
/******************************/